[submodule "_build/alexandria"]
	path = _build/alexandria
	url = https://gitlab.common-lisp.net/alexandria/alexandria.git
	shallow = true
[submodule "_build/cl-custom-hash-table"]
	path = _build/cl-custom-hash-table
	url = https://github.com/metawilm/cl-custom-hash-table
	shallow = true
[submodule "_build/local-time"]
	path = _build/local-time
	url = https://github.com/dlowe-net/local-time
	shallow = true
[submodule "_build/trivial-package-local-nicknames"]
	path = _build/trivial-package-local-nicknames
	url = https://github.com/phoe/trivial-package-local-nicknames
	shallow = true
[submodule "_build/lisp-unit2"]
	path = _build/lisp-unit2
	url = https://github.com/AccelerationNet/lisp-unit2
	shallow = true
[submodule "_build/iterate"]
	path = _build/iterate
	url = https://gitlab.common-lisp.net/iterate/iterate.git
	shallow = true
[submodule "_build/cl-interpol"]
	path = _build/cl-interpol
	url = https://github.com/edicl/cl-interpol
	shallow = true
[submodule "_build/symbol-munger"]
	path = _build/symbol-munger
	url = https://github.com/atlas-engineer/nsymbols
	shallow = true
[submodule "_build/cl-unicode"]
	path = _build/cl-unicode
	url = https://github.com/edicl/cl-unicode
	shallow = true
[submodule "_build/moptilities"]
	path = _build/moptilities
	url = https://github.com/gwkkwg/moptilities/
	shallow = true
[submodule "_build/closer-mop"]
	path = _build/closer-mop
	url = https://github.com/pcostanza/closer-mop
	shallow = true
[submodule "_build/nclasses"]
	path = _build/nclasses
	url = https://github.com/atlas-engineer/nclasses/
	shallow = true
